.mainContainer {
	margin-top: 60px;
	user-select: none;
}
.contentContainer {
	min-height: 1000px;
	.commLeft {
		background-color: #FFF;
		border-radius: .3rem;
		border: 1px solid #eee;
		margin-top: 20px;
		padding: 20px 35px 0;

		.recommendType {
			font-size: 1.2rem;
			font-weight: 600;
		}
	}
}
.listItem {
	padding: 20px 5px;

	&:hover {
		background: #f5f7fa;
	}
}

.listTitle {
	font-size: 2rem;
	color: black;
	padding: 0 0.5rem;
}

.listContext {
	color: #777;
	padding: .5rem;
}

.listIcon {
	padding: .5rem 0;
	color: #AAA;
}

.listIcon span {
	display: inline-block;
	padding: 0 10px;
}



