
.com_main {
	margin-top: 60px;
	padding-top: 50px;
	background: url("/images/articleBG1.jpg") fixed;
	background-size: cover;
	min-height: calc(100vh - 120px);

	pre {
		display: block;
		background-color: #f3f3f3;
		padding: .5rem !important;
		overflow-y: auto;
		font-weight: 300;
		font-family: Menlo, monospace;
		border-radius: .3rem;
	}

	pre {
		background-color: #283646 !important;
	}

	pre > code {
		border: 0px !important;
		background-color: #283646 !important;
		color: #FFF;

	}

	code {
		display: inline-block;
		background-color: #f3f3f3;
		border: 1px solid #fdb9cc;
		border-radius: 3px;
		font-size: 12px;
		padding-left: 5px;
		padding-right: 5px;
		color: #4f4f4f;
		margin: 0px 3px;
	}

	iframe {
		height: 34rem;
	}
}


.detailed_title {
	font-size: 3rem;
	font-weight: 700;
	color: #27363e;
	text-align: center;
	margin-bottom: 1rem;
}

.labels {
	margin-bottom: 70px;

	span {
		margin-right: 20px;
		display: inline-block;
		font-size: 1.2rem;
		height: 40px;
		padding: 0 10px;
		line-height: 40px;
		border-radius: 14px;
		background: #23232c;
		color: white;
		transition: all .2s;
		font-weight: 600;

		&:hover {
			background: #fcc28b;
			color: #23232c;
		}
	}
}

.contentAll {
	background: #23232c;
	color: whitesmoke;
	border-radius: 1rem;
	padding: 2.5rem;

	.detailed_content {
		font-size: 1.1rem;

		h1, h2, h3, h4, h5, h6 {
			color: white;
		}

		img {
			max-width: 100%;
		}
	}
}


.nav_title {
	text-align: center;
	color: white;
}

.article_menu {
	font-size: 12px;

}

.center {
	text-align: center;
}