.authorDiv{
    text-align: center;
    padding: 1rem;

}
.authorDiv div{
    margin-bottom: 1rem;

}
.authorIntroduction{
    font-size:.8rem;
    color: #999;
    .span {
        color: darkorange;
    }
    .authorHref{
        font-size: 26px;
        margin-right: 10px;
    }
}
.account{
    background-color: #999;
    margin-left: .5rem;
    margin-right: .5rem;
}