.icon {
	position: fixed;
	right: 100px;
	bottom: 50px;
	height: 50px;
	width: 50px;
	border-radius: 14px;
	color: #fff;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background: #27363e;

	&:hover {
		background-color: rgba(80, 81, 241, .6);
		color: #fdf7f7;
		transition: all 0.2s;
	}
}