.icon {
	position: fixed;
	right: 100px;
	bottom: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
	border-radius: 14px;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
	background: #27363e;
	opacity: 0;
	transition: all .3s;
	z-index: -1;
	&:hover {
		background-color: rgba(80, 81, 241, .6);
		color: #fdf7f7;
		transition: all 0.2s;
	}
	&.scrollState{
		opacity: 1;
		z-index: 1;
	}
}