.header {
	background-color: #fff;
	padding: .4rem;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}
.headerTitle{
	height: 2.5rem;
	line-height: 2.5rem;
}
.headerLogo {
	color: #1e90ff;
	font-size: 1.4rem;
	text-align: left;
}

.headerText {
	font-size: 0.6rem;
	color: #999;
	display: inline-block;
	padding-left: 0.3rem;
}

.antMeu {
	line-height: 2.6rem;
}

.antMenuItem {
	font-size: .7rem !important;
	padding-left: 1rem;
	padding-right: 1rem;
}
