.header {
	position: fixed;
	top: 0;
	height: 60px;
	width: 100%;
	background: linear-gradient(
			92.37deg, rgba(255, 184, 47, 1) 1.15%, rgba(238, 109, 237, 1) 36.96%, rgba(163, 47, 255, 1) 98.11%, rgba(6, 202, 198, 1) 124.22%);
	z-index: 1;
	box-shadow: 0px 2px 6px #d07de1;

	&::after {
		content: '';
		background-color: rgba(255, 255, 255, 0.3);
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		transition: all .5s;
		z-index: 2;
	}

	&.scrollState::after {
		background-color: rgba(255, 255, 255, 0);
	}

	.row {
		height: 100%;
	}
}

.headerTitle {
	height: 2.5rem;
	line-height: 2.5rem;
	position: relative;
	z-index: 3;

	div {
		height: 100%;
		display: flex;
		align-items: center;
	}

	.icon {
		width: 50px;
		height: 44px;
		border-radius: 10px;
		line-height: 44px;
		font-size: 1.5rem;
		cursor: pointer;
		opacity: 1;
	}
}


.category {
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 600;
	margin-right: 20px;
	cursor: pointer;
	height: 44px;
	line-height: 44px;
	width: 70px;
	border-radius: 10px;
	text-align: center;
	color: #4748ff;
	position: relative;
	z-index: 3;
}

.hover:hover {
	background-color: rgba(80, 81, 241, 0.2);
	color: #fdf7f7;
	transition: all 0.2s;
}