.header {
	position: fixed;
	top: 0;
	height: 60px;
	width: 100%;
	background: linear-gradient(
			92.37deg, rgba(255, 184, 47, 0.2) 1.15%, rgba(238, 109, 237, 0.2) 36.96%, rgba(163, 47, 255, 0.2) 98.11%, rgba(6, 202, 198, 0.2) 124.22%);
	padding: .4rem;
	border-bottom: 1px solid #ccc;
	z-index: 1;
}

.headerTitle {
	height: 2.5rem;
	line-height: 2.5rem;


}

.icon {
	font-size: 1.5rem;
}

.headerLogo {
	color: #1e90ff;
	font-size: 1.4rem;
	text-align: left;
}

.headerText {
	font-size: 0.6rem;
	color: #999;
	display: inline-block;
	padding-left: 0.3rem;
}

.antMeu {
	line-height: 2.6rem;
}

.antMenuItem {
	font-size: .7rem !important;
	padding-left: 1rem;
	padding-right: 1rem;
}

.category {
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 20px;
	cursor: pointer;
	height: 44px;
	width: 70px;
	border-radius: 10px;
	text-align: center;
	line-height: 44px;
	color: #6667f3;


	&:hover {
		background-color: rgba(80, 81, 241, 0.2);
		color: #fdf7f7;
		transition: all 0.2s;
	}
}